@mixin btn($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
    text-transform: inherit;
    border-radius: 999px;
    font-size: 18px;
    padding: 0.5rem 2rem;
}

@mixin vertical-align($size) {
    height: $size;
    line-height: $size;
}

@mixin flexbox($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}