$color-black: #000;
$color-white: #fff;
$color-gray: #f4f6f9;
$color-blue-dark: #232f3e;
$color-dark: #131A22;
$color-background: #eee;//eee - eaeded
$color-yellow: #ffc93d;

$primary-color: $color-blue-dark;
$secondary-color: $color-dark;