$color-black: #000;
$color-white: #fff;
$color-light-gray: #f4f6f9;
$color-gray: #ccc;
$color-blue-dark: #232f3e;
$color-dark: #131A22;
$color-dark-gray: #333;
$color-background: #eee;//eee - eaeded
$color-yellow: #ffc93d;
$color-blue: #1DAFEC;
