div.storeContainer {
    @include flexbox(flex, center, center);
    min-height: calc(100vh - 9rem);
    width: 100%;

    div.addCoinsContainer__Card {
        background-color: $color-white;
        padding: 1rem;
        text-align: center;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    
        @media screen and (min-width: 901px) {
            width: 60%;
        }

        > * {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        button {
            @include btn($color-blue, $color-white);

            &:hover {
                background-color: $color-blue-dark;
            }
        }
    }
}