div.fourOhFour {
    background-color: $color-white;
    padding: 2rem 4rem;
    text-align: center;

    > * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 8rem;
    }

    p {
        font-size: 2rem;
    }

    button {
        @include btn($color-blue, $color-white);

        &:hover {
            background-color: $color-blue-dark;
        }
    }
}