div.banner {
    width: 100%;
    height: 50vh;

    &.electronic {
        @include bg-image("https://raw.githubusercontent.com/joelias71/react-reward-store/master/public/img/header-x1.png");
    }

    &.shop {
        @include bg-image("https://www.telemundo.com/sites/nbcutelemundo/files/images/article/cover/2016/08/12/utiles-en-carrito-de-compras.jpg");
    }

    > h1 {
        color: $color-white;
        padding-top: 40vh;
        font-size: 2.5em;
        padding-left: 50px;
    }
}
