div.productListHeader {
    padding: 2rem;

    div.productListHeader__filter {

        @media screen and (max-width: 900px) {
            display: block;

            button {
                margin-top: 1rem;
            }
        }

        @media screen and (min-width: 901px) {
            display: flex;
            align-items: center;
        }       

        p {
            color: $color-blue-dark;
        }
        
        button {
            margin-left: 1rem;
            @include btn($color-gray, $color-white);  
                
            &:hover {
                background-color: $color-blue-dark;
            }

            &.active {
                background-color: $color-blue-dark;
            }
        }
    }

    hr {
        margin-top: 1rem;
    }

}

div.productListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.productPagination {
    display: flex;
    padding: 1rem;
    justify-content: center;
}