div.productListHeader {
    padding: 2rem;

    div.productListHeader__filter {

        @media screen and (max-width: 800px) {
            display: block;

            button {
                margin-top: 1rem;
            }
        }

        @media screen and (min-width: 801px) {
            display: flex;
            align-items: center;
        }       

        p {
            color: $color-blue-dark;
        }
        
        button {
            background-color: $color-gray;
            border-radius: 999px;
            color: $color-white;
            padding: 0.5rem 2rem;
            margin-left: 1rem;
            text-transform: inherit;
        }

        button:hover {
            background-color: $color-blue-dark;
        }
    }

    hr {
        margin-top: 1rem;
    }
}

div.productListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 30vh;
}

div.productPagination {
    display: flex;
    padding: 1rem;
    justify-content: center;
}