div.radioBtn {
    background-color: $color-light-gray;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;

    label {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover input ~ .checkmark {
            background-color: $color-gray;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ .checkmark {
                background-color: $color-blue;

                &:after {
                    display: block;
                }
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: $color-background;
            border-radius: 50%;
        }
    }
}