div.redeem {

    p {
        font-size: 1.3em;
        margin-bottom: 2rem;
    }

    div.redeem__product {
        display: flex;

        div.redeem__product__info {
            margin-left: 1rem;
        }
    }
}