div.footer {
    position: sticky;
    width: 100%;
    background-color: $color-blue-dark;
    color: $color-white;
    text-align: center;
    @include vertical-align(4rem);

    p {
        float: right;
        margin-right: 16px;
    }
}