div.header {
    width: 100%;
    display: block;
    background-color: $color-white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    color: $color-black;
    justify-content: space-between;
}

div.header > button {
    background-color: $color-blue-dark;
    border-radius: 999px;
    color: $color-white;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    text-transform: inherit;
}

div.header > button:hover{
    color: $color-black;
    background-color: $color-background;
}

div.header__user {
    display: flex;
    margin-right: 1rem;
}

div.header__user__widget {
    background-color: $color-background;
    border: 1px solid $color-background;
    color: $color-black;
    border-radius: 999px;
    line-height: 3rem;
    height: 3rem;
    padding: 0.2rem 1rem;
}

div.header__user > label {
    font-size: 1.8em;
    line-height: 3rem;
    margin-right: 1rem;
}

.header__user__widget > label {
    font-weight: 600;
    font-size: 1.5em;
}

.header__user__widget > svg {
    position:relative;
    top: calc(50% - 20px);
    color: $color-yellow;
}