div.header {
    width: 100%;
    background-color: $color-white;
    height: 5rem;
    color: $color-black;
    @include flexbox(flex, center, space-between);

    .navbar__menu-bars {
        margin-left: 1rem;
        color: $color-blue;
        font-size: 2.5em;

        &:hover {
            color: $color-blue-dark;
        }
    }

    div.header__shopping_cart {
        border-radius: 999px;
        @include vertical-align(3rem);
        padding: 0.2rem 1rem;
        color: $color-blue;
        cursor: pointer;

        &:hover {
            color: $color-blue-dark;
        }

        > label{
            position: absolute;
            background-color: $color-white;
            padding: 0 0.3rem;
            top: 0.4rem;
            border-radius: 999px;
            z-index: 1;
            line-height: 20px;
            right: 1rem;
            font-size: 0.8em;
        }

        > svg {
            position:relative;
            top: calc(50% - 26px);
            font-size: 3em;
        }
    }
}

nav.navbar-menu {
    background-color: $color-blue-dark;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    color: $color-white;
    z-index: 2;

    &.active {
        left: 0;
        transition: 350ms;
    }

    @media screen and (max-width: 900px) {
        width: 100%;
    }

    @media screen and (min-width: 901px) {
        width: 40%;
    }

    .navbar-menu__items__toggle > * {
        color: $color-white;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        margin-right: 2rem;

        .navbar-menu__menu-bars {
            margin-left: 2rem;
            font-size: 2rem;
            background: none;
            cursor: pointer;
        }
    }

    .navbar-text {
        height: 60px;
        cursor: pointer;
        text-align: center;
    }
    
    .navbar-text a {
        text-decoration: none;
        color: $color-white;
        font-size: 18px;
        width: 95%;
        height: 100%;
        @include flexbox(flex, center, center);
        padding: 0 16px;
        border-radius: 4px;
    }

    .navbar-menu__items {
        width: 100%;

        .navbar-menu__user {

            display: flex;
            justify-content: center;
            margin-right: 1rem;
            margin-bottom: 2rem;

            .navbar-menu__user__widget {
                background-color: $color-background;
                border: 1px solid $color-background;
                color: $color-black;
                border-radius: 999px;
                @include vertical-align(3rem);
                padding: 0.2rem 1rem;

                label {
                    font-weight: 600;
                    font-size: 1.5em; 
                }
    
                svg {
                    position:relative;
                    top: calc(50% - 20px);
                    color: $color-yellow;
                }
            }

            label {
                font-size: 1.8em;
                line-height: 3rem;
                margin-right: 1rem; 
            }
        }
    }

    button {
        @include btn($color-white, $color-blue-dark);

        &:hover {
            background-color: $color-blue;
            color: $color-white;
        }
    }    
}